<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn Martial arts from the pros</h1>
    <br />
    <h2>I'm an Aikidoka, Lee.</h2>
    <br />
    <% link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Expose your mind to new ideas</h3>
    <br />
    <p>Expand your worldview</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Edify your mind today</h3>
    <br />
    <p>Learn art history and philosophy</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Let's share our knowledge</h3>
    <br /> 
    <p>We are a fast growing community of scholars</p>
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
